<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CloneCyworld2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>idCheckServlet</servlet-name>
		<servlet-class>controller.idCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>idCheckServlet</servlet-name>
		<url-pattern>/idCheckServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>filter.AuthFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/home.jsp</url-pattern>
		<url-pattern>/guestbook.jsp</url-pattern>
		<url-pattern>/photobook.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GuestBookServlet</servlet-name>
		<servlet-class>controller.GuestBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestBookServlet</servlet-name>
		<url-pattern>/GuestBookServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GuestbookReplyServlet</servlet-name>
		<servlet-class>controller.GuestbookReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestbookReplyServlet</servlet-name>
		<url-pattern>/GuestbookReplyServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteReplyServlet</servlet-name>
		<servlet-class>controller.DeleteReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteReplyServlet</servlet-name>
		<url-pattern>/DeleteReplyServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BookNoCheckServlet</servlet-name>
		<servlet-class>controller.BookNoCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookNoCheckServlet</servlet-name>
		<url-pattern>/BookNoCheckServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotobookServlet</servlet-name>
		<servlet-class>controller.PhotobookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotobookServlet</servlet-name>
		<url-pattern>/PhotobookServlet</url-pattern>
	</servlet-mapping>
	
</web-app>